@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;800&display=swap');

/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #464F41;
  --primary2: #ffffff;
  --background: #D7D7D7;
  --box-color: #C4C4C4;
  --radius: 10px;
  --shadow: 8px 5px 13px rgb(109, 109, 109);
  --t1: 1.3rem;
  --t2: 1.1rem;
  --button: linear-gradient(180deg, rgba(160,28,28,1) 0%, rgb(156, 70, 70) 100%);
  --button_color: rgb(231, 227, 227);  
  --button_font: 'Montserrat', sans-serif;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  width: 100vw;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background);
}

h1,h2,h3,h4,h5,h6,p,a {
  margin: 0px;
  letter-spacing: -1px;
  color: var(--primary2);
}

h1 {
  font-size: 5rem;
  font-weight: 800;
  line-height: 0.7;
  letter-spacing: -4px;
}

span {
  letter-spacing: -10px;
  line-height: 0.5;
  margin: 0px;
  font-size: 4.7rem;
}
