@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;800&display=swap');
:root {
  --primary: #492A2A;
  --primary2: #A01C1C;
  --background: #D7D7D7;
  --box-color: #C4C4C4;
  --radius: 10px;
  --shadow: 8px 5px 13px rgb(109, 109, 109);
  --t1: 1.3rem;
  --t2: 1.1rem;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background);
}

h1,h2,h3,h4,h5,h6,p {
  margin: 0px;
  line-height:0.8;
  letter-spacing: -1px;
  color: var(--primary);
}

