.bg-works {
    background-image: url('../../img/works-blob2.svg');
    background-position: bottom;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: 180%;
}

@media screen and (min-width: 1024px) {
    .bg-works {
        background-size: 100%;
    }
}